body {
	background: white !important;
}

#backgroundImage, .page {
    background-color: none !important;
}

#controls {
    color: blue !important;
}

#header {
    background: no-repeat 1rem .75rem #fff !important;
    /* box-shadow: 0 1px rgba(99,114,130,0.16) !important; */
    /*background-image: url(https://i.imgur.com/OZwnrLq.png) !important;
    background-size: 24px;*/
    display: flex !important;
    font-size: 14px !important;
    min-width: auto !important;
    padding: .5rem 0rem !important;
    border-bottom: none !important;
    transition: 0.2s ease all !important;
    height: auto !important;
}

#header.scroll {
    box-shadow: 0 1px rgba(99,114,130,0.16) !important;
}

#logo {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/ic_logo.svg') !important;
    width: 2rem !important;
    height: 2rem !important;
    padding: 0 !important;
    margin: 0 1rem !important;
    background-position: center !important;
    background-size: 2rem !important;
}

#header, #keyboardShortcutHelper {
    -webkit-transition: opacity .2s !important;
}

#header:hover, #keyboardShortcutHelper:hover {
    -webkit-transition: opacity .2s !important;
    opacity: 1 !important;
}

#searchBox {
  	background-image: url('chrome-extension://__MSG_@@extension_id__/assets/ic_search.svg') !important;
  	background-position: top right;
  	background-repeat: no-repeat;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    padding: .5rem !important;
    width: 15rem !important;
}

#searchForm {
    /*flex-grow: 1 !important;*/
    top: -1px !important;
    margin: 0 1rem !important;
}

#searchForm.clearPrompt #searchBox {
	background-image: none !important;
}

#searchCancel {
	top: 4px !important;
	right: 4px !important;
	margin: 0 0rem 0 0 !important;
	width: 12px !important;
	height: 12px !important;
}

#searchCancel>svg>line {
	stroke: #1B2734 !important;
	stroke-width: 1.5px !important;
}

#visible {
    background: transparent  !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    width: 400px !important;
}

.bullet {
    margin-left: 2px !important;
}

.bullet, #bulletBucket .bulletBucketBullet {
    background-color: rgba(0,102,255,0.1) !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/bullet.svg') !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: 4px 4px !important;
    height: 16px !important;
    top: 5px !important;
    width: 16px !important;
}

.bullet.empty {
	background-image: url('chrome-extension://__MSG_@@extension_id__/assets/bullet_empty.svg') !important;
	background-size: 6px 6px !important;
}

.bullet:hover, .project.task>.name>.bullet:hover, .project.open>.name>.bullet:hover, .project.addedShared>.name>.bullet:hover, .page.showCompleted .project.halfOpenSearchMatchAncestorWhenCompletedVisible:not(.shared):not(.addedShared)>.name>.bullet:hover, .page:not(.showCompleted) .project.halfOpenSearchMatchAncestorWhenCompletedHidden:not(.shared):not(.addedShared)>.name>.bullet:hover {
	background-color: rgba(0,102,255,0.1) !important;
	border-radius: 100% !important;
}

.selected>.children>.project>.name>.bullet {
	margin-top: 3px !important;
}

.footer, #bottomLinks, .proPitch {
    display: none !important;
}

.pageStar {
    top: 2.25rem !important;
}

.parent>.name>.content {
    color: #0066ff !important;
    font-size: 14px !important;
}

.parent>.name>.parentArrow {
    color: rgba(0,102,255,0.2) !important;
}

.project.task>.name>.bullet, .project.open>.name>.bullet, .noHalo .bullet {
    background-color: transparent !important;
}

.saveButton {
    width: auto !important;
    opacity: 0.5;
}

.saveButton_saved {
	display: none !important;
}

.saveButton, .showCompletedButton, #helpButton, .menu-button, #buttonBar {
    background: none !important;
    border: none !important;
    color: #627283 !important;
    font-size: 12px !important;
    line-height: 1.2 !important;
    padding-left: 0rem !important;
    padding-right: 0 !important;
    left: 0 !important;
}

.showCompletedButton {
	float: none !important;
	text-align: left !important;
	color: white !important;
	padding: .5rem 1rem !important;
	width: auto !important;
	left: 0 !important;
}

.menu-button {
	padding: 0 !important;
}
.menu-button:hover {
	background: #eee !important;
	border-radius: 4px;
}
#buttonBar {
    /*margin: 0 .5rem 0 1rem !important;*/
    padding: 0 !important;
}

.menu-icon {
   	width: 2rem !important;
   	height: 2rem !important;
   	opacity: 1 !important;
  	background-image: url('chrome-extension://__MSG_@@extension_id__/assets/ic_menu.svg') !important;
  	background-position: 0 0 !important;
  	padding: 0 !important;

}

.menu-options {
    margin-top: .4rem !important;
    background: white !important;
    border: 1px #ddd solid !important;
    box-shadow: 0 4px 16px rgba(0,0,0,0.07) !important;
    color: #1B2735 !important;
    border-radius: .25rem !important;
}

.menu-options>#userEmail {
	padding: .5rem 1rem !important;
	font-size: 12px !important;
}

.menu-options>.button {
	padding: .4rem 1rem !important;
}

.menu-options>.button:hover {
	background: #fafafa !important;
}

#savedViewHUDButton {
   	margin: 0 !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/assets/ic_star.svg') !important;
	width: 2rem !important;
	height: 2rem !important;
	padding: 0 !important;
	background-position: top left !important;
	background-size: 2rem !important;
	border-radius: 0 !important;
}

#savedViewHUDButton:hover {
    background-color: #eee !important;
}

#helpButton {
	width: 2rem !important;
	height: 2rem !important;
	background-image: url('chrome-extension://__MSG_@@extension_id__/assets/ic_help.svg') !important;
	content: none;
	padding: 0 !important;
	background-repeat: no-repeat !important;
	position: fixed !important;
	bottom: 1rem;
	left: auto !important;
	right: 1rem;
	z-index: 100 !important;
}	

#helpButton .topBarButtonTextContainer {
	display: none !important;
}

.selected {
    border-top: none !important;
    margin-top: 1rem !important;
}

.selected.project {
    padding-top: 1rem !important;
}

.selected .project>.name {
    padding-left: 73px !important;
}

.selected.project>.name {
    font-size: 2em !important;
}

.selected.project>.name>.content {
    line-height: 1.2 !important;
}

.selected>.children>.project>.children .project>.name>.content {
    padding-top: 5px !important;
}

.selected>.children>.project>.children>.project {
    font-size: 16px !important;
}
.selected>.notes>.content {
    margin-bottom: 1rem !important;
}

.top,.right,.bottom,.left {
    display: none !important;
}

.undo-button, .redo-button {
    display: none !important;
}

a.content {
    line-height: 1.4 !important;
}

a.contentLink {
    color: #0066ff  !important;
    text-decoration: none !important;
}

a.contentLink:hover {
	text-decoration: none;
}

body, #documentView {
    font-size: 16px !important;
}

body, #documentView, .saveButton, .showCompletedButton, #buttonBar, #helpButton, #searchBox, #savedViewHUD, #controlsLeft, #itemSelectionControls, #controlsLeft a, #itemSelectionControls a {
    color: #1B2734 !important;
    font-family: -apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
"Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif !important;
    transition: all 0.1s ease !important;
}

div.content {
    line-height: 1.4 !important;
    max-width: 36rem !important;
}

.content:empty {

}

div.getMoreSpaceButton.hoverHand {
    display: none !important;
}

div.page.active {
    border-style: none !important;
}

span.contentTag {
    color: #0066ff !important;
}

span.contentTagText {
    line-height: 1.4 !important;
    text-decoration: none !important;
}

.noted>.notes>.content {
    color: #627283 !important;
}

#savedViewHUD {
	bottom: inherit !important;
	top: 45px !important;
	background-color: rgba(255,255,255,0.8) !important;
	box-shadow: 0 1px rgba(99,114,130,0.16) !important;
}

.savedViewPage {
	border: 1px solid #ccc !important;
	background-color: white !important;
	color: inherit !important;
}

.savedViewPage.selectedSavedViewPage {
	box-shadow: none !important;
	border-color: #0066ff!important;
	background-color: #fafafa !important;
}

.savedViewPageInnerContainer {
	opacity: 1 !important;
}

.savedViewPageFader {
	display: none !important;
}

#controlsLeft {
	left: 2.5rem !important;
	top: 2rem !important;
}

#controlsLeft, #itemSelectionControls {
	padding: 6px 0 !important;
	background: white !important;
	border: 1px solid #ddd !important;
	box-shadow: 0 4px 16px rgba(0,0,0,0.07) !important;
	width: auto !important;
}

#controlsLeft a, #itemSelectionControls a {
	padding: .5rem 1rem !important;
	margin: 0 !important;
	white-space: nowrap;
	width: 5rem !important;
}

#controlsLeft a:nth-child(2n+1) {
	border-bottom: #eee solid 1px !important;
}

#controlsLeft a:nth-child(2n+2) {
	padding: .5rem 1rem !important;
}

#controlsLeft a:last-child {
	border-bottom: none !important;
}

#controlsLeft a:hover, #itemSelectionControls a:hover {
	background: #fafafa !important;
	text-decoration: none !important;
}

#controlsLeft a hr {
	display: none;
}

.selected .project #controlsLeft>.mouse-helper:before {
	top: .5rem !important;
	left: auto !important;
	margin-left: -.5rem !important;
	border-bottom: 8px solid #eee !important;
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
}

.selected .project #controlsLeft>.mouse-helper {
	top: -1rem !important;
	left: 1.2rem !important;
	height: 1rem !important;
	width: 1rem !important;
}





